html {
    touch-action: manipulation;
}


/* 全体のスタイル */
body {
    background-color: #f5f5f5;
    font-family: 'Helvetica Neue', sans-serif;
    color: #444;
}

/* ヘッダーのスタイル */
h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 3rem;
}

p {
    text-align: center;
    font-size: 1.25rem;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* タイマーボックスのスタイル */
.box {
    padding: 2rem;
    margin: 10px;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
}

/* タイトルと時間のスタイル */
.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.time {
    font-size: 3rem;
    font-weight: bold;
}

/* ボタンのスタイル */
button {
    background-color: #fff;
    border: 2px solid #444;
    font-weight: bold;
    color: #444;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    margin: 0.5rem;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: #444;
    color: #fff;
}

/* 768px以下の場合 */
@media (max-width: 700px) {
    .container {
        display: flex;
        flex-direction: column;
        /* 縦並びにする */
    }

    h1 {
        font-size: 1.5rem;
        margin: 0;
    }

    p {
        font-size: 1rem;
        margin: 10px;
    }

    .box {
        padding: 20px;
    }

    /* タイトルと時間のスタイル */
    .title {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .time {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .controls {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    /* ボタンのスタイル */
    button {
        font-size: 0.5rem;
        margin: 0;
    }

    .flex {
        display: flex;
        justify-content: space-around;
    }

}